/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

body {
    padding: 20px;
}

.table-column {
    width: 50%;
    padding: 20px;
    float: left;
}

.form-control.ng-touched.ng-invalid {
    border: 2px solid red;
}